.show-job {
  section {
    padding: 0;
    margin: 0;
  }

  .show-job-header {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0 0 3px 0;
  }

  .show-job-header .show-job-close {
    padding: 0;
    margin: 0 5px 0 0;
    cursor: pointer;
  }

  .show-job-nav {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    label {
      font-weight: 600;
      cursor: pointer;
    }
    label:first-child {
      margin-left: 20px;
    }
    label:last-child {
      margin-right: 20px;
    }
  }

  .show-job-photos {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }
}
