.show-results {
  padding: 0;
  margin: 0;

  h3 {
    margin-left: 5px;
  }

  .show-results-body {
    padding: 0;

    section {
      margin-bottom: 5px;
      padding: 5px;
    }

    section:hover {
      background-color: #eee;
      cursor: pointer;
    }
  }

  .show-results-next {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;

    ul {
      list-style: none;
      display: flex;
    }

    li {
      margin-right: 10px;
      padding: 10px 15px;
      font-weight: bold;
      color: #fff;
      background-color: #bbb;
      cursor: pointer;
      border-radius: 7px;
    }

    li:hover {
      background-color: #aaa;
    }

    li.selected,
    li.selected:hover {
      background-color: #666;
    }
  }
}
