.home {
  padding: 0;
  margin: 0;

  .home-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  .home-body {
    padding: 0;
    margin: 0;
  }
}
