.add-filter {
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.filters-added {
  border: 1px solid black;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
