.filter-choose-body {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px 0;
}

.filter-choose-header {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0 0 3px 0;
}

.filter-choose-header div {
  padding: 0;
  margin: 0 5px 0 0;
}

.filter-choose-close {
  cursor: pointer;
  margin-right: 5px;
}

.filter-choose-body option:hover {
  cursor: pointer;
  background-color: #eee;
}
