.footer {
  border: 1px solid black;
}

.footer ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer li {
  cursor: pointer;
  padding: 2px 5px;
}

.footer li:hover {
  background-color: #ddd;
}
