.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  font-family: "Lobster", cursive;
  font-size: 30px;
}

.header div {
  padding: 0;
  margin: 0 10px;
}

.header svg {
  cursor: pointer;
}
