.filter-working-from-home-body {
  background-color: fff;
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
}

.percent-working-from-home li {
  list-style: none;
  text-align: left;
  margin-left: 0;
  cursor: pointer;
}

.wfh-label {
  display: block;
}
