.filter-skill-body {
  background-color: fff;
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
}

.filter-skill-type-skill-label {
  display: block;
}

.filter-skills-choose-label {
  display: block;
}
